<article id="{{page.handle}}" class="page entry container">
	<header>
		<div class="title-bar custom-font">
			<h1 class="main-heading">{{ page.title }}</h1>
		</div>
	</header>
	<section class="entry-content">
		{{ page.content }}
	</section>
</article>