<div class="product-description-section-wrapper">
  {% render 'product-description-tabs', product: product %}
</div>

{% schema %}
  {
    "name": {
      "en": "Product description"
    },
    "class": "container",
    "settings": [

    ],
    "presets": [
      {
        "name": {
            "en": "Product description"
        },
        "category": {
            "en": "Product"
        }
      }
    ],
    "templates": ["product"]
  }
{% endschema %}